<%= form_with(model: article, local: true) do |form| %>
  <div class="actions">
    <%= form.submit %>
  </div>

  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "slug title" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.hidden_field :content, id: 'hidden-article-content' %>
    <div id="tiptap-editor" data-content="<%= article.content %>"></div>
  </div>


<% end %>
