<%= form_with(model: article,  data: { controller: "article-form", action: "submit->article-form#submitForm", article_form_target: 'form' }, html: { id: "article-form" }) do |form| %>
  <div class="actions">
    <%= form.submit "Save article", data: { article_form_target: "submitButton" }%>
  </div>

  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" data-controller="title-case" >
    <%= form.label :title, "Slug title" %>
    <%= form.text_field :title,data: { action: "blur->title-case#handleBlur", title_case_target: "title" }  %>
  </div>

  <div class="field">
    <%= form.hidden_field :content, id: 'tiptap-hidden' %>
    <div id="tiptap-editor" data-content="<%= article.content %>"></div>
  </div>


<% end %>
