<%= link_to 'Back', articles_path %>
<h1><%= @article.title %></h1>
<p>By <%= @article.author.email %></p>

<div class="font-serif article">
  <%= raw @article.content %>
</div>

<% if user_signed_in? && current_user == @article.author %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= button_to 'Delete', article_path(@article), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
<% end %>
