<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= item.name %>
  </p>

  <p class="my-5 max-w-[300px]">
    <strong class="block font-medium mb-1">Contents:</strong>
    <% if item.contents.attached? %>
      <% if item.contents.content_type.start_with? 'image/' %>
        <img src=<%= item.contents.url %> alt="<%= item.contents.filename %>">
      <% elsif item.contents.content_type.start_with? 'audio/' %>
        <audio controls>
          <source src=<%= item.contents.url %> type=<%= item.contents.content_type %>>
        </audio>
      <% elsif item.contents.content_type.start_with? 'video/' %>
        <video controls>
          <source src=<%= item.contents.url %> type=<%= item.contents.content_type %>>
          </video>
      <% else %>
        <%= link_to item.contents.filename, item.contents %>
      <% end %>
    <% end %>
  </p>

</div>
