<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "noteOS" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.png" type="image/png">
  <link rel="icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.png">

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application' %>
  <%= vite_javascript_tag 'application' %>
</head>

<body>
<main class="min-h-screen">
  <p class="text-green-600"><%= notice %></p>
  <p class="text-red-600"><%= alert %></p>
  <%= yield %>
</main>
<footer class="bg-black">
  <p><span class="co-branded-logo"></span></p>
  <p class="copyright-notice">
    &copy; 2024 Extropy Educational Technologies. All rights reserved.
  </p>
</footer>
</body>
</html>
