<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "noteOS" %><%= " (DEV)" if Rails.env.development? %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.png" type="image/png">
  <link rel="icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://fly.storage.tigris.dev/vite/noteOS/images/icon.png">

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag 'application' %>
  <%= vite_javascript_tag 'application' %>
</head>

<body>

<header class="<%= 'sticky top-0' unless request.path.ends_with?('/edit') %>">
  <a class="logo" href="/articles">
    <picture>
      <source srcset="https://fly.storage.tigris.dev/vite/noteOS/images/icon.svg" media="(max-width: 640px)"/>
      <img class="h-7 sm:h-5" src="https://fly.storage.tigris.dev/vite/images/noteOS.svg" alt="noteOS logo"/>
    </picture>
  </a>
  <!--  <div class="breadcrumb">-->
  <!--    <span class="attachment">Developer</span>-->
  <!--    <span class="attachment">Rails Tutorial</span>-->
  <!--  </div>-->
  <div class="actions">
    <% if user_signed_in? && controller_name == 'articles' %>

      <%= link_to '', class: "action export-button" do %>
        <span>Export</span>
      <% end %>

      <%= link_to '', class: "action share-button" do %>
        <span>Share</span>
      <% end %>

      <% if cookies[:mode] == 'edit' %>
        <%= link_to set_mode_articles_path(mode: 'display', article_slug: @article&.slug),
                    method: :post, class: "action read-button", id: "quit-editor" do %>
          <span>Read</span>
        <% end %>
      <% else %>
        <%= link_to set_mode_articles_path(mode: 'edit', article_slug: @article&.slug),
                    method: :post, class: "action edit-button" do %>
          <span>Edit</span>
        <% end %>
      <% end %>

      <%= link_to '', class: "action search-button" do %>
        <span>Search</span>
      <% end %>
    <% end %>
  </div>
</header>

<main class="min-h-screen relative">
  <p class="text-green-600"><%= notice %></p>
  <p class="text-red-600"><%= alert %></p>
  <%= yield %>
</main>

<footer>
  <p><span class="co-branded-logo"></span></p>
  <p class="copyright-notice">
    &copy; 2024 Extropy Educational Technologies. All rights reserved.
  </p>
</footer>

<button id="back-to-top" data-controller="back-to-top"
        data-action="click->back-to-top#scrollToTop"
        class="hidden"
>
  ↑
</button>

</body>
</html>
